// Forms
$primaryColor : #FFE600;

// Background Colors
$breadCrumbColor: #999999;
$backgroundColor: #EEEEEE;
$containerColor: #FFFFFFFF;

// Butons
$butonColor: #3483FA; // Boton comprar


// Font Colors:
$titleColor: #333333; //Publicaciones o Descripciones

$textColor: #666666; //Seachbar y BreadCrumb