//  Items Loading
.loadingBox{
    .productBox{
        @include parpadea();
    }
    margin-top: 40px;
.imgBox{
    height: 180px;
    width: 180px;
    background-color: $backgroundColor;
    margin-right: 16px;
}

.price{
    margin-top: 15px;
}
.priceBox{
    width: 49px;
    background-color: $backgroundColor;
}

.tittleBox{
    width: 500px;
    height: 24px;
    background-color: $backgroundColor;
}

hr {
    border: solid 0.5px $backgroundColor;
  }
.space{
    padding: 10px 0px;
}


}

// Detail
.loadingDetail{
    margin-top: 40px;
    .productBox{
        @include parpadea();

        .productProps{
            margin-top: 25px;
        }

    .imgBox{
        height: 680px;
        width: 680px;
        background-color: $backgroundColor;
        margin-right: 16px;
    }
    .condition{
        height: 20px;
        width: 130px;
        background-color: $backgroundColor;
        margin-right: 16px;
    }

    .tittleProduct{
        height: 54px;
        width: 500px;
        background-color: $backgroundColor;
        margin-right: 16px;
    }

    .price{
        padding-top: 15px;
        font-size: 46px;
    .priceBox{
        height: 52px;
        width: 161px;
        background-color: $backgroundColor;
    }
    }

    .btnLoad{
        margin-top: 32px;
        height: 50px;
        width: 200px;
        background-color: $backgroundColor;

    }



}


}