ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: $backgroundColor;
}

li {
  display: inline;
  text-decoration: none;
}
a {
  color: inherit !important;
  text-decoration: inherit !important;
}