// Utilidades
@import './scss/normalize.scss';
@import './scss/colors.scss';
@import './scss/mixin.scss';

// Elementos
@import './scss/searchbar';
@import './scss/products';
@import './scss/detail';
@import './scss/loading';

html,body{
  height: 100%;
}
body{
  background-color: $backgroundColor !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container{
  @include container();
}

.elements{
  background-color: $containerColor;
  min-height: 900px;
}